body {
  font-size: 16px;
  font-family: Georgia, serif;
}

/** HEADER **/
#header-nav {
  background-color: grey ;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 20px;
  margin-left: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Arial', serif;
  font-weight: bold;
  margin-top: -10px;
  color: black;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  font-family: 'Arial', serif;
  font-weight: bold;
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top:-50px;
}
/* END HEADER */

/* MAIN CONTENT*/
#menuHeader{
  font-family: 'Arial', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 0;
}

div.inner{
  background-color: grey;
  position: relative;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
}

div.inner h3{
  text-align: center;
  font-family: 'Arial', serif;
  color: black;
  top:0;
  bottom: 0;
  padding: 5px 0 0 0;
  font-weight: bold;
}
/*END OF MAIN CONTENT*/

